h1,
h2,
h3,
h4,
h5,
h6 {
  @include header-font;
}

body {
  background: $color-wallpaper;
  padding: 0;
}

.header,
.marketing,
.footer {
  @include header-font;
}

.main-content {
  padding: 0 15px;

  @include widebreak-up {
    padding: 0 35px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid $color-border-light-grey;
}

table {
  border-color: $color-border-grey;
}
