//
// colours
// ------------------------------
$white: #fff;
$color-border-light-grey: #e5e5e5;
$color-border-grey: #ddd;
$color-event: #fd6666;
$color-event-box-shadow: #ce4c4c;
$color-wallpaper: #fdfbf1;

//
// Grid & Breakpoints
// ------------------------------
$widebreak: 768px;
