.calendar {
  table-layout: fixed;
  width: 100%;

  &__day-time-indicator {
    height: 60px;
  }

  &__day-column {
    vertical-align: top;
  }

  &__day-column-inner {
    position: relative;
  }

  &__day-inner-panel {
    position: relative;
    height: 500px;
  }

  &__day-event {
    background: $color-event-orange;
    padding: 2rem;
    position: absolute;
    width: 100%;
    border-radius: 10px;
  }

  &__hour-label {
    width: 50px;
  }

  &__event-label {
    width: 680px;
  }

  &__gutter {
    width: 50px;
  }

  &__bg-rows {
    position: relative;
  }

  &__bg-rows-inner {
    position: absolute;
    width: 100%;
  }

  &__bg-row-div {
    border-bottom: 1px dotted $color-border-grey;
    border-top: 1px solid $color-border-grey;
    font-size: 1px;
    height: 21px;
    margin-bottom: 20px;
  }
}
