.calendar {
  width: 100%;

  &__day-time-indicator {
    border-right: 1px solid $color-border-grey;
    border-top: 1px solid $color-border-grey;
    height: 60px;
    text-align: center;

    @include widebreak-up {
      width: 90px;
    }
  }

  &__day-column {
    vertical-align: top;
  }

  &__day-column-inner {
    position: relative;
  }

  &__day-inner-panel {
    height: 500px;
    position: relative;
  }

  &__day-event {
    background: $color-event;
    border-radius: 2px;
    border: 1px solid $color-event-box-shadow;
    box-shadow: 0 3px 0 $color-event-box-shadow;
    color: $white;
    font-family: inherit;
    font-size: .875rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .1em;
    line-height: normal;
    outline: 0;
    padding: .7em 2em;
    position: absolute;
    width: 100%;
  }

  &__table-body {
    border: 1px solid $color-border-grey;
    border-width: 0 1px;
  }

  &__table-main-label {
    @include header-font;
    font-size: 32px;
    padding: 10px;
    padding-left: 0;
    margin-top: 0;
  }

  &__head-label {
    color: $color-wallpaper;
  }

  &__event-label {
    width: 680px;
  }

  &__gutter {
    width: 50px;
  }

  &__bg-rows {
    position: relative;
  }

  &__bg-rows-inner {
    position: absolute;
    top: 1px;
    width: 100%;
  }

  &__bg-row-div {
    border-bottom: 1px dotted $color-border-grey;
    border-top: 1px solid $color-border-grey;
    font-size: 1px;
    height: 21px;
    margin-bottom: 20px;
  }
}
